.taservice {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.taservice-item {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  /* align-items: start; */
  align-items: center;
}

.taservice-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 8px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.taservice-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.taservice-period {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 0.2rem;
}

.taservice-title {
  margin: 0;
  font-size: 1.1rem;
}

.taservice-org {
  font-size: 0.9rem;
  color: #444;
}

.taservice-description {
  margin-top: 0.4rem;
  line-height: 1.4;
  font-size: 0.8rem;
  color: #666;
  text-align: justify;
}

.ta-service-text {
  margin-top: 0.5rem;
  /* color: #666; */
  font-size: 1rem;
  text-align: justify;
}


@media (max-width: 768px) {

  .taservice {
    padding: 1rem;
  }

  .taservice-item {
    grid-template-columns: 1fr;   /* stack image and text */
    gap: 0.8rem;
  }

  .taservice-image {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  .taservice-title {
    font-size: 1rem;
  }

  .taservice-description {
    font-size: 0.85rem;
  }

}
