<header class="site-header">
  <div class="site-nav">
    <a href="/index.html" class="site-name">Yinying Miao</a>

    <!-- Toggle button for mobile page -->
    <button class="nav-toggle" aria-label="Toggle navigation" aria-expanded="false">
      ☰
    </button>

    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="/index.html#home">Home</a></li>
        <li><a href="/index.html#research">Research</a></li>
        <li><a href="{{ '/about/' | relative_url }}">About</a></li>
        <li><a href="{{ '/ta-service/' | relative_url }}">TA & Service</a></li>
      </ul>
    </nav>
  </div>
</header>
