<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- CSS links -->
  <link rel="stylesheet" href="{{ '/css/Index.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/projects.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/Global.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/footer.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/service.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/css/about.css' | relative_url }}">
  
</head>
<body>

  <!-- header -->
  {% include header.html %}


  <!-- Page content -->
  <main class="site-content">
    {{ content }}
  </main>
  
  <!-- footer -->
  {% include footer.html %}

  
  

</body>
</html>
